footer {
	width: 100%;
    position: absolute !important;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    background-color: $primary-color;
    a {
    	color: $light-color;
    	&:hover {
    		text-decoration: underline;
    	}
    }
}

.return-top {
    width: 40px;
    height: 40px;
    text-align: center; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $primary-color;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    @extend .z-depth-1;
    &:hover {
        opacity: 0.9;
    }
    i {
        line-height: 36px;
        font-size: 40px;
    }
}