/* ---- grid ---- */

/* clear fix */
.grid {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.grid-item {
		float: left;
		padding: 5px;
		@media #{$small-and-down} 	{ width: 50%; }
		@media #{$medium-and-up} 	{ width: 33.3333333%; }
		@media #{$large-and-up} 	{ width: 25%; }
		img {
			display: block;
			max-width: 100%;
		}		
	}
}



