.materialboxed {
  &:hover {
    &:not(.active) {
      opacity: .8;
    }
  }

  display: block;
  cursor: zoom-in;
  position: relative;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;

  &.active {
    cursor: zoom-out;

    //modificaciones por columnas (evitar que el zoom se limite a x columnas)
    width: auto!important;
    height: auto!important;
    max-width: 85vw!important;
    max-height: 90vh;
  }
}

#materialbox-overlay {
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  z-index: 1000;
  will-change: opacity;
}

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}

#gallery-single {
  .material-placeholder {
    width: 31%;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 1%;
    box-sizing: border-box;
    margin-bottom: 1%;
  }
}